app:
  env: local
  httpaddr: 127.0.0.1
  httpport: 3001

db:
  driver: mysql
  host: 192.168.10.10
  port: 3306
  name: test
  user: root
  password: root
  locale: Asia/Jakarta

redis:
  host: 127.0.0.1
  port: 6379
  password: 
  duration: 1440
